<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>blog</title>
</head>
<body>
<header>Spring
    <input type="search" id="site-search" name="q" placeholder="キーワード検索"/>
    <a href="/blogs/new"> 投稿</a>
    </header>
<section>
    <p><h1>ポラーノの広場</h1></p>
    <p><h3>あのイーハートーヴォのすきとおった風、、、</h3></p>
    <p><h1>ポラーノの広場</h1></p>
    <p><h3>あのイーハートーヴォのすきとおった風、、、</h3></p>
    <p><h1>ポラーノの広場</h1></p>
    <p><h3>あのイーハートーヴォのすきとおった風、、、</h3></p>
    <p><h1>ポラーノの広場</h1></p>
    <p><h3>あのイーハートーヴォのすきとおった風、、、</h3></p>
    <p><h1>ポラーノの広場</h1></p>
    <p><h3>あのイーハートーヴォのすきとおった風、、、</h3></p>
    <p><h1>ポラーノの広場</h1></p>
    <p><h3>あのイーハートーヴォのすきとおった風、、、</h3></p>
    <p><h1>ポラーノの広場</h1></p>
    <p><h3>あのイーハートーヴォのすきとおった風、、、</h3></p>
    <p><h1>ポラーノの広場</h1></p>
    <p><h3>あのイーハートーヴォのすきとおった風、、、</h3></p>
</section>

</body>
</html>
