<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>記事投稿</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>

    <aside class="sidebar" th:replace="'blog'::sidebar"></aside>

    <header class="header" th:replace="'blog'::header"></header>
    <main class="content">

        <div class="form-container">
            <h1>記事投稿</h1>

            <form action="/blogs" method="post">

                <input type="text" name="title" placeholder="記事タイトル" size="50">

                <br><br>

                <textarea name="content" rows="10" cols="100" placeholder="本文"></textarea>

                <br><br>

                <button type="submit">投稿</button>
                <a href="/">キャンセル</a>

            </form>

        </div>

    </main>

</body>

</html>

</html>